@import '../../index.scss';

tr.photo-row {
  transition: 0.3s ease;

  &:hover {
    background-color: rgba(teal, 0.2);
    box-shadow: 1px 1px 12px rgba($black, 0.4);
    cursor: pointer;
    
    & .image-cell {
      background-color: rgba(teal, 0.08);
    }
  }

  & .image-cell {
    padding: 0;
    display: flex;
    place-items: center;
    transition: 0.3s ease;
    background-color: $black;
  }

  & td img.image-thumb {
    width: 25rem;
    height: 15rem;
    object-fit: cover;
  }
}
