@import '../../index.scss';

.table-wrapper {
  display: grid;
  place-items: center;
  padding: 1rem;

  table {
    margin-bottom: 2rem;
    text-align: center;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    min-width: 65vw;
    border-collapse: collapse;

    & td {
      border-left: 1px solid $grey;
      border-bottom: 1px solid $grey;

      &:first-child {
        border-left: none;
      }
    }

    & tr:last-child td {
      border-bottom: none;
    }

    & th {
      background-color: $black;
      color: $grey;
      border-left: 2px solid $grey;

      &:first-child {
        border-radius: 8px 0 0 0;
      }

      &:last-child {
        border-radius: 0 8px 0 0;
      }
    }

    & th,
    tr,
    td {
      padding: 0.2rem;

      @media (min-width: 650px) {
        & {
          padding: 1rem;
        }
      }
    }

    & tr:last-child td:first-child {
      border-radius: 0 0 0 8px;
    }
    & tr:last-child td:last-child {
      border-radius: 0 0 8px 0;
    }
  }
}
