$navy: #3a3179;
$grey: #c7c9cb;
$black: #1d1d23;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  color: $navy;
}

:root {
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: $black;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-image: url('./assets/shattered.webp');
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  h1 {
    font-size: 3em;
    line-height: 1.1;
  }

  main {
    min-height: 80vh;
  }

  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;

    &:hover {
      color: $navy;
    }
  }

  img {
    max-width: 100%;
    margin: auto;
  }

  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    color: $grey;
    font-size: 1em;
    font-weight: 500;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    background-color: rgba(teal, 0.3);
    color: $black;
  }

  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  button:disabled {
    opacity: 0.5;
    background-color: transparent;
    color: $black;
    cursor: not-allowed;

    &:hover {
      background-color: inherit;
      color: inherit;
    }
  }
}
// loading spinner

.spinner-wrapper {
  display: grid;
  place-items: center;

  .pl {
    display: block;
    width: 8em;
    height: 8em;
  }
  .pl__ring,
  .pl__ball1,
  .pl__ball2 {
    animation: 2s ease-in-out infinite;
    // animation-duration: 2s;
    // animation-timing-function: ease-in-out;
    // animation-iteration-count: infinite;
    transform-origin: 32px 32px;
  }
  .pl__ring {
    animation-name: ring;
  }
  .pl__ball1 {
    animation-name: ball1;
  }
  .pl__ball2 {
    animation-name: ball2;
  }

  /* Dark theme  */
  @media (prefers-color-scheme: dark) {
    :root {
      --bg: hsl(var(--hue), 10%, 10%);
      --fg: hsl(var(--hue), 10%, 90%);
    }
  }

  /* Animation */
  @keyframes ring {
    from {
      animation-timing-function: ease-in-out;
      stroke-dashoffset: -122.52;
      transform: rotate(135deg);
    }
    15% {
      animation-timing-function: ease-in;
      stroke-dashoffset: -122.52;
      transform: rotate(90deg);
    }
    35% {
      animation-timing-function: ease-out;
      stroke-dashoffset: -65.34;
      transform: rotate(297.5deg);
    }
    55% {
      animation-timing-function: ease-in-out;
      stroke-dashoffset: -122.52;
      transform: rotate(505deg);
    }
    70% {
      animation-timing-function: ease-in-out;
      stroke-dashoffset: -122.52;
      transform: rotate(490deg);
    }
    85%,
    to {
      stroke-dashoffset: -122.52;
      transform: rotate(497.5deg);
    }
  }
  @keyframes ball1 {
    from {
      transform: rotate(14deg);
    }
    20% {
      transform: rotate(-7deg);
    }
    60% {
      transform: rotate(399deg);
    }
    75% {
      transform: rotate(361deg);
    }
    90%,
    to {
      transform: rotate(374deg);
    }
  }
  @keyframes ball2 {
    from {
      transform: rotate(-21deg);
    }
    25% {
      transform: rotate(-47deg);
    }
    60% {
      transform: rotate(364deg);
    }
    75% {
      transform: rotate(326deg);
    }
    90%,
    to {
      transform: rotate(339deg);
    }
  }
}
