$navy: #3a3179;
$grey: #c7c9cb;
$black: #1d1d23;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  color: $navy;
}

:root {
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: $black;
}

body {
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-color: $navy;
  background-image: url(/src/assets/y-so-serious-white.png);
  // background-image: url(/src/assets/shattered.webp);
  margin: 0;
  min-width: 320px;

  #root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 3em;
      line-height: 1.1;
    }

    section {
      padding: 2rem;
      text-align: center;
    }

    main {
      text-align: center;
      padding: 1rem;

      input[type='search'] {
        padding: 1rem;
        border-radius: 4px;
        margin-right: -2rem;
      }
    }

    a {
      font-weight: 500;
      color: grey;
      text-decoration: inherit;

      &:hover {
        color: $navy;
      }
    }

    img {
      max-width: 100%;
      margin: auto;
    }

    button {
      border-radius: 8px;
      border: 1px solid transparent;
      padding: 0.6em 1.2em;
      margin: 0.5em;
      color: $grey;
      font-size: 1em;
      font-weight: 500;
      background-color: #1a1a1a;
      cursor: pointer;
      transition: border-color 0.25s;
    }
    button:hover {
      background-color: rgba(teal, 0.6);
      color: $black;
    }

    button:focus,
    button:focus-visible {
      outline: 4px auto -webkit-focus-ring-color;
    }

    button:disabled {
      opacity: 0.5;
      background-color: transparent;
      color: $black;
      cursor: not-allowed;

      &:hover {
        background-color: inherit;
        color: inherit;
      }
    }
  }
}
